@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@font-face {
  font-family: reg;
  src: url("assets/fonts/Didot\ Regular.ttf") format("truetype");
}

body {
  font-family: reg;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  .serge {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    opacity: 0.5;
    @include small {
      flex-direction: column;
      display: none;
      width: 100%;
    }
  }

  .intro {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 18rem;
    position: relative;
    z-index: 2;

    @include small {
      margin-left: 0;
      text-align: center;
      margin-top: 1rem;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 0 !important;
      font-weight: 300;
      @include small {
        font-size: 2.5rem;
        margin-top: 0 !important;
      }
      @include xs {
        font-size: 2.5rem;
        margin-top: -1rem !important;
      }
    }

    h3 {
      margin-top: 0.5rem !important;
      font-size: 1.5rem;
      font-weight: 500;
      @include small {
        font-size: 0.8rem;
      }
    }

    p {
      font-size: 1.2rem;
      margin: 0.3rem auto;
      @include small {
        font-size: 0.9rem;
      }
    }

    small {
      display: inline-block;
      margin-top: 1rem;
    }
  }

  .sign {
    display: block;
    @include small {
      display: none;
    }
    img {
      width: 132px;
    }
  }

  .sign-mobile {
    width: 100%;
    text-align: center;
    display: none;
    @include small {
      display: block;
    }
    img {
      width: 84px;
    }
  }

  .social {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: fit-content;
    // background-color: black;
    padding: 1rem 5rem !important;

    @include large {
      top: 30%;
      bottom: 25%;
    }

    @include small {
      flex-flow: row;
      justify-content: center;
      width: 100%;
      height: 5rem;
      bottom: 0;
      padding: 0 !important;
    }

    .media {
      margin: 0.5rem 0;
      //   background-color: white;
      padding: 1rem;
      display: flex;
      justify-content: center;
      div {
        margin: auto;
        img {
          transition: 0.3s;
          width: 24px;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.cs {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  font-size: 4rem;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  display: block;
  @include small {
    display: none;
    font-size: 1.5rem;
    right: 25%;
    left: 25%;
    bottom: 8rem;
  }
}

.hero-mobile {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  img {
    opacity: 0.5;
    width: 70%;

    @include xs {
      width: 80%;
    }
  }
  display: none;
  @include small {
    display: block;
  }

  .cs-mobile {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 1rem;
    h1 {
      font-size: 1.2rem !important;
      font-family: "Heebo", sans-serif !important;
    }
  }
}
