@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@font-face {
  font-family: reg;
  src: url("assets/fonts/Didot\ Regular.ttf") format("truetype");
}

body {
  font-family: reg;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // justify-content: center;
  position: relative;
  display: flex;
  .serge {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    opacity: 0.5;
    @include small {
      width: 100%;
    }
  }

  .intro {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 18rem;
    position: relative;
    z-index: 2;

    @include small {
      margin-left: 0;
      text-align: center;
      margin-top: 1rem;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 0 !important;
    }

    h3 {
      margin-top: 0.5rem !important;
      font-size: 1.5rem;
      font-weight: 500;
      //   font-family: mid;
    }

    p {
      font-size: 1.2rem;
      margin: 0.3rem auto;
    }

    small {
      display: inline-block;
      margin-top: 1rem;
    }
  }

  .sign {
    img {
      width: 132px;
    }
  }

  .social {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: fit-content;
    padding: 5rem;
    background-color: black;
    padding: 4rem 5rem !important;

    @include large {
      top: 25%;
      bottom: 25%;
    }

    @include small {
      flex-flow: row;
      justify-content: center;
      width: 100%;
      height: 5rem;
      bottom: 0;
      padding: 0 !important;
    }

    .media {
      margin: 0.5rem 0;
      //   background-color: white;
      width: 32px;
      height: 32px;
      border-radius: 500px;
      padding: 1rem;
      display: flex;
      justify-content: center;
      div {
        margin: auto;
        img {
          transition: 0.3s;
          width: 42px;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.cs {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  font-size: 4rem;
  font-family: 'Heebo', sans-serif;

  @include small{
      font-size: 2rem;
      right: 25%;
      left: 25%;
      bottom: 8rem;
  }
}
